#display-profile-picture {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.form-label-field-container, .form-label-field-social-media-container {
    display: flex;
    justify-content: space-between;
}

.form-label-field-social-media-container {
    display: flex;
}


.social-media-link {
    margin-left: 5px;
}

.controls-container { 
    display: flex;
    align-items: center;
    margin-left: 3px;
}