#events-search-options {
    width: 100px;
}

#events-search-input {
    width: 250px;
}

.gallery-thumbnails-container {
    border: 1px solid lightgray;  
    height: 200px;
    margin: 20px 0 5px 0;
    padding: 10px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.empty-gallery-container {
    border: 1px solid lightgray;    
    height: 200px;
    margin: 20px 0 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-image-container {
    border: 1px solid lightgray;  
    border-radius: 2%;  
    height: 200px;
    margin: 20px 0 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.empty-gallery-label {
    color: gray;
}

.gallery-image-thumbnail {
    width: 100px;
    height: 100%;
    margin: 2px;
}

.location-input {
    margin-right: 2px;
}