.search-associates {
  margin-bottom: 25px;
}

#search-options {
  width: 100px;
}

#search-input {
  width: 250px;
}

.delete-associate {
  margin-right: 10px;
}

#delete-associate {
  cursor: pointer;
}

.associate {
  display: flex;
}

#close-view-associate {
  position: absolute;
  top: 3%;
  right: 3%;
}