.search-associates {
  margin-bottom: 25px;
}

#search-options {
  width: 25%;
  height: 30px;
}

#search-input {
  width: 50%;
  height: 30px;
}

.delete-associate {
  margin-right: 10px;
}

#delete-associate {
  cursor: pointer;
}

.associate {
  display: flex;
}